{
  "encryption": "age",
  "age": {
    "identity": "~/.config/chezmoi/key.txt",
    "recipient": "age17d90aqc8fmjl4g33rz5kstzfnzvu48fzgtzj2vsew3sy2vmyu9rqgxdnsj"
  },
  "data": {
    "email": {{ promptString "What is your email" | quote }},
    "profile": {{ promptChoice "What type of setup do you want" (list "personal" "work") | quote }},
    "setSshKey": {{ promptBool "Do you want to set up an SSH key" }},
    "gitSigningKeyName": "id_github"
  }
}
